#header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h2 {
  color: #d3573c;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 46.872px;
}

#scrollY {
  background-color: #d3573c;
  height: 30px;
  width: 182px;
  left: 46%;
  transform: translateX(-50%);
  top: 3px;
  border-radius: 5px;
  position: absolute;
  transform: translateY(-143%);
  z-index: 10;
}

#context {
  display: block;
  background-color: #d3573c;
  text-align: center;
  color: black;
  position: absolute;
  transform: translateY(-143%);
  width: 170px;
  height: 19px;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 23.44px;
}

#scrollY:focus,
#contect:focus {
  transform: translateY(0%);
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "header navbar photographer" "item1 item2 item3" "item4 item5 item6";
  margin-top: -119px;
}

header {
  grid-area: 1/1/2/3;
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#header-logo {
  color: #901c1c;
  font-size: 3rem;
}

#header-nav {
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
  align-items: center;
  justify-content: center;
}
@media (max-width: 599px) {
  #header-nav {
    position: absolute;
    top: 40%;
    left: 25%;
  }
}
#header-nav #header-nav-list li {
  margin: 0 10px;
  color: #901c1c;
}
#header-nav #header-nav-list li a {
  color: #901c1c;
}

main {
  grid-area: 1/1/4/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  justify-items: center;
  grid-template-areas: "header navbar photographer" "item1 item2 item3" "item4 item5 item6";
}

ul {
  display: flex;
}

#logo {
  /*grid-area:1/1/2/2;*/
  justify-content: center;
  display: grid;
}

#titre {
  justify-content: center;
  display: grid;
}

.cards {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 35rem;
  height: 336px;
  margin: -16px 0 76px;
}

#card-1 {
  grid-area: item1;
}

#card-2 {
  grid-area: item2;
}

#card-3 {
  grid-area: item3;
}

#card-4 {
  grid-area: item4;
}

#card-5 {
  grid-area: item5;
}

#card-6 {
  grid-area: item6;
}

#container-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card-header img {
  width: 53%;
  height: 200px;
  clip-path: ellipse(50% 50%);
}
.card-header .card-title {
  margin: 14px 0 7px;
}

.card-content {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 23.44px;
}
.card-content .card-content-city {
  color: #901c1c;
}
.card-content .card-content-price {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 11.02px;
  color: grey;
  margin: 8px 0;
}

.card-content-tagline {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 13.02px;
  margin: 5px 0;
}

.card-content-tag {
  color: #901c1c;
}
.card-content-tag .card-tag {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 15.62px;
  width: 62px;
  height: 21px;
  margin: 5px 1px;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 11px;
  text-align: center;
  padding: 2px 10px;
}

#title {
  grid-area: photographer;
  justify-content: center;
  align-self: center;
  font-size: 2rem;
  color: #901c1c;
}

/*# sourceMappingURL=style.css.map */
