#header-nav #header-nav-list, #header-nav, #header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 144rem;
  height: 100vh;
  margin: 0 auto !important;
  overflow-x: hidden;
  position: initial;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h2 {
  color: #d3573c;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.6rem;
  line-height: 46.872px;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4.3rem;
}
@media screen and (max-width: 414px) {
  header {
    display: block;
    justify-content: center;
    padding-left: 0px;
    margin-top: 33px;
  }
}

.skip-link {
  display: block;
  background-color: #d3573c;
  text-align: center;
  color: black;
  position: absolute;
  width: 17rem;
  height: 2.9rem;
  top: -10rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2.9rem;
}

.skip-link:focus {
  top: 1rem;
}

#header-logo {
  color: #901c1c;
  font-size: 3.6rem;
  margin-left: 11rem;
  height: 5rem;
}
@media screen and (max-width: 618px) {
  #header-logo {
    margin-left: 2rem;
  }
}
@media screen and (max-width: 414px) {
  #header-logo {
    display: block;
    font-size: 3rem;
  }
}

#header-nav {
  width: 45.3rem;
  position: absolute;
  left: 50%;
  transform: translateX(-54%);
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.576rem;
}
@media screen and (max-width: 1158px) {
  #header-nav {
    transform: translateX(-50%);
    top: 8.2rem;
  }
}
@media screen and (max-width: 414px) {
  #header-nav {
    left: 0px;
    transform: translateX(0);
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 1158px) {
  #header-nav #header-nav-list {
    flex-wrap: wrap;
    width: 38.2rem;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 414px) {
  #header-nav #header-nav-list {
    flex-wrap: wrap;
    width: 78%;
  }
}
#header-nav #header-nav-list li {
  margin: 0 10px;
  color: #901c1c;
}
@media screen and (max-width: 1158px) {
  #header-nav #header-nav-list li {
    margin: 1rem;
  }
}
@media screen and (max-width: 414px) {
  #header-nav #header-nav-list li {
    width: auto;
    margin: 8px 4px;
  }
}
#header-nav #header-nav-list li a:visited,
#header-nav #header-nav-list li a {
  color: #901c1c;
  font-size: clamp(11px 15px 17px);
  border: 1px solid grey;
  border-radius: 26px;
  padding: 5px;
}
@media screen and (max-width: 414px) {
  #header-nav #header-nav-list li a:visited,
#header-nav #header-nav-list li a {
    padding: 4px;
  }
}

@media screen and (max-width: 414px) {
  #header-nav-list li:nth-child(5) a {
    margin-left: 13px;
  }
}

main {
  display: flex;
  position: relative;
  top: 8.5rem;
  width: 100%;
}
@media screen and (max-width: 414px) {
  main {
    top: 141px;
  }
}

#main-photographer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  width: 100%;
}
@media screen and (max-width: 1158px) {
  #main-photographer-list {
    position: absolute;
    top: 6rem;
  }
}
@media screen and (max-width: 634px) {
  #main-photographer-list {
    justify-content: center;
  }
}
@media screen and (max-width: 414px) {
  #main-photographer-list {
    justify-content: center;
    top: 0;
  }
}

#logo {
  justify-content: center;
  display: grid;
}

#titre {
  justify-content: center;
  display: grid;
}

.cards {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 47.5rem;
  margin: -1.8rem -5.4rem 7.6rem;
}
@media screen and (max-width: 1158px) {
  .cards {
    width: 42.5rem;
  }
}
@media screen and (max-width: 530px) {
  .cards {
    width: 37.5rem;
  }
}

#container-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card-header img {
  width: 26rem;
  height: 20rem;
  clip-path: ellipse(50% 50%);
}
.card-header .card-title {
  margin: 1.4rem 0 7px;
}

.card-content {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 23.44px;
}
.card-content .card-content-city {
  color: #901c1c;
}
.card-content .card-content-price {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  line-height: 11.02px;
  color: grey;
  margin: 1.172rem 0;
}

.card-content-tagline {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 13.02px;
  margin: 5px 0;
}

.card-content-tag {
  color: #901c1c;
}
.card-content-tag .card-tag {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 15.62px;
  width: 6.2rem;
  height: 2.1rem;
  margin: 5px 1px;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 11px;
  text-align: center;
  padding: 2px 10px;
}

#title {
  color: #901c1c;
  position: absolute;
  right: 8rem;
  top: -13.6rem;
  width: 23.6rem;
  height: 4.7rem;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.7rem;
  line-height: 4.687rem;
}
@media screen and (max-width: 1157px) {
  #title {
    right: 4.1rem;
  }
}
@media screen and (max-width: 618px) {
  #title {
    right: 1.2rem;
    top: -13.1rem;
  }
}
@media screen and (max-width: 414px) {
  #title {
    right: -2rem;
    font-size: 1.9rem;
    top: -19.5rem;
  }
}

#header-logo:focus,
.header-tag:focus,
li:focus,
img:focus {
  transform: scale(1.2);
}

/*# sourceMappingURL=style.css.map */
