html {
    --main-color: #901c1c;
    --shade-color: #D3573C;
    --shade-color2: crimson;
    --background-color: white;
    --text-color-1: #525252;
    --text-color-2: #fafafa;
}



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}


#page {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 8rem repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
        'header header photo'
        'main main main'
        'main main main'
}

header {
    width: 80%;
    display: flex;
    grid-area: header;
    grid-area: 1 / 1 / 2 / 3;
}

#header-logo {
    width: 40%;
}

header-nav {
    width: 40%;
}

#header-nav-list {
    display: flex;
}

#header-nav-list li {
    margin: 0 10px;
}

main {
    width: 100%;
    grid-area: 2/1/4/4;
    background-color: pink;
}

#main-title {
    position: absolute;
    right: 8rem;
    top: 3rem;
}


#context {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 20px
}


#grid-container {

    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 8rem repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 140px;

}



.grid-item {
    width: 300px;
    height: 250px;
    background: #333;
    justify-self: center;
    margin-bottom: 0px;
}