@import './scss/_variables';
@import './scss/_mixins';
@import './scss/_placeholders';

html {
	--main-color: #901c1c;
	--shade-color: #d3573c;
	--shade-color2: crimson;
	--background-color: white;
	--text-color-1: #525252;
	--text-color-2: #fafafa;
}

body {
	height: 100vh;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

#context {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	height: 20px;
	background-color: #901c1c;
	color: black;
	text-align: center;
	display: none;
}

#context:focus {
	display: block;
}

#grid-container {
	@include grid-3(20%, 60%, 20%, 1fr, 1fr, 1fr);
	gap: 0px 0px;
	grid-template-areas:
		'header navbar photographer'
		'item1 item2 item3'
		'item4 item5 item6';
	margin-top: 42px;
}

header {
	grid-area: 1/1/2/3;
	opacity: 0.4;
	z-index: 3;
	display: grid;
	grid-template-columns: 25% auto;
}

#header-logo {
	@extend %flex-center;
	color: var(--main-color);
	font-size: 3rem;
}

#header-nav {
	@extend %grid-center;
	grid-column: 2 / 3;
	grid-row: 1 / 2;

	#header-nav-list li {
		margin: 0 10px;
		color: var(--main-color);

		a {
			color: var(--main-color);
		}
	}
}

main {
	grid-area: 1 / 1 / 4 / 4;
	grid-template-columns: subgrid;
	@include grid-3(20%, 60%, 20%, 1fr, 1fr, 1fr);
	gap: 0px 0px;
	grid-template-areas:
		'header navbar photographer'
		'item1 item2 item3'
		'item4 item5 item6';
}

ul {
	display: flex;
}

#title {
	grid-area: 1/3/2/4;
	@extend %grid-center;
	font-size: 1.8rem;
	color: var(--main-color);
	text-align: center;
}

#card-1 {
	grid-area: item1;
	@extend %grid-center;
}

#card-2 {
	grid-area: item2;
	@extend %grid-center;
}

#card-3 {
	grid-area: item3;
	@extend %grid-center;
}

#card-4 {
	grid-area: item4;
	@extend %grid-center;
}

#card-5 {
	grid-area: item5;
	@extend %grid-center;
}

#card-6 {
	grid-area: item6;
	@extend %grid-center;
}

#container-card {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.cards {
	display: flex;
	flex-direction: column;
	text-align: center;
}
